body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-color: #93E9BE;
    
}

#header{
    background:rgb(194, 142, 142);
    border: 5px solid white;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
}

#nav {
    background-color: paleturquoise;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

#nav ul{
    background: none;
    position: relative;
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#nav ul a:hover {
    opacity:0.6;
}

#nav li {
    display: inline;
    padding: 1px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 #nav li a {
     text-decoration: none;
     color: black;
     font-weight: bold;
     text-shadow: 2px 2px white;
 }

 #center {
     background:rgb(194, 142, 142);
     color:brown;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     float: left;
     width: 900px;
     height: 540px;
     margin: 2px;
     padding: 2px;
     font-size: 30px;
     border-radius: 20%;
     border: 3px solid black;
 }

 #center h2{
     position: absolute;
     top: 330px;
     left: 110px;
     text-shadow: 2px 2px black;
     z-index:2;
     color: #93E9BE;
 }

#center img {
    height: 40%;
    width: 30%;
    position: relative;
    top: 1;
    z-index: 1;
}

 #about {
    color: black;
    position: relative;
    left: 10px;
    top: 5px;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    text-align: center;
 }

 #sidebar {
     position: relative;
     height: 530px;
     width: 560px;
     float: right;
     background:rgb(194, 142, 142);
     margin: 5px;
     padding: 5px;
     border: 3px solid black;
     text-align: center;
 }

#signup {
    background: paleturquoise;
    position: absolute;
    top: 780px;
    left: 100px;
    height: 400px;
    width: 1300px;
    margin: 0;
    border: 6px dotted black;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(194, 142, 142);
    text-shadow: 1px 1px black;
    font-weight: bolder;
}
#signup img {
    height: 240px;
    width: 240px;
    position: absolute;
    top: 25px;
    left: 10px;
}

#email {
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 4px;
}

#email input {
    box-shadow: 2px 2px black;
    background: lightgray;
    height: 30px;
    padding: 4px;
    margin: 4px;
}

#email select {
    box-shadow: 2px 2px black;
    background: lightgray;
    width: 100px;
    height: 30px;
    padding: 4px;
    margin: 4px;
}

#submit {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    box-shadow: 2px 2px white;
    background:rgb(194, 142, 142);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.box {
    background: #93E9BE;
    margin: 3px;
    padding: 3px;
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.box img {
    height: 250px;
    width: 250px;
}


#footer {
    text-align: center;
    padding: 3px;
    color: white;
    position: absolute;
    top: 1300px;
    width: 100%;
    padding: 5px;
    background-color: #93E9BE;
}


#footer ul {
    list-style: none;
    text-align: center;
    font-size: 15px;
    height: 20px;
    display: inline-block;

}

#footer ul a {
    color: inherit;
    text-decoration: none;
}

#footer ul a:hover {
    opacity:0.8;
}

#footer li {
    padding: 10px;
    display: inline-block;
}


#footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(194, 142, 142);
    margin-bottom:0;
}